body {
  margin: 0 auto;
}

.Header--first {
  max-width: 800px;
  margin: 6rem auto;
  justify-content: center;
  text-align: center;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.Header__Big {
  font-size: 4rem;
}

.Header__Small {
  font-size: 1.5rem;
  font-weight: 300;
}

.Header__Button {
  left: 0;
  width: 10rem;
}

.Image--first {
  width: 750px;
}

.Center_Image {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.section__features {
  height: 100vh;
  background-color: #f8f8f8;
  margin-top: 40rem;
}

.Header__Big--2 {
  font-size: 3.5rem;
  padding-top: 10rem;
}
