body {
  max-width: 1200px;
  margin: 0 auto;
}

.Header--first {
  margin-top: 10rem;
  max-width: 800px;
  margin: 10rem auto;
  justify-content: center;
  text-align: center;
}

.Header__Button {
  left: 0;
}


