body {
  max-width: 1200px;
  margin: 0 auto;
}

.Header--first {
  max-width: 800px;
  margin: 6rem auto;
  justify-content: center;
  text-align: center;
}

.Header__Big {
  font-size: 4rem;
}

.Header__Small {
  font-size: 1.5rem;
  font-weight: 300;
}

.Header__Button {
  left: 0;
  width: 10rem;
}

.Image--first {
  width: 750px;
}

.Center_Image {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
